<div class="naviation fixed">
  <nav class="top-bar" data-topbar data-options="is_hover: true">

    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
          <h1><a>استک باکس</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a><span>منو</span></a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">دموی خدمات رایانش ابری</a></li>
        <li class="has-dropdown"><a href="#">انواع خدمات ابر</a>
          <ul class="dropdown">
            <li><a href="/home/privatecloud" target="_blank">ابر خصوصی</a></li>
            <li><a href="/home/hybridcloud"  target="_blank">ابر ترکیبی</a></li>
            <li><a href="#"  target="_blank">ابر عمومی</a></li>
          </ul>
        </li>
        <li class="has-form inmail">
          <div class="row collapse ">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="ایمیل خود را وارد کنید">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">ثبت</a>
            </div>
          </div>
        </li>
        <li><a href="#">درخواست سرویس</a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-form"><a class="button" href="/home/signup" target="_blank">عضویت</a></li>
        <li class="divider"></li>
        <li><a href="/">خانه</a></li>
        <li class="divider"></li>
        <li><a href="#">پشتیبانی</a></li>
        <li class="divider"></li>
        <li><a href="#">درباره ما</a></li>
      </ul>
    </section></nav>
</div>
<div class="row mysection">
  <div class="columns large-12 small-12">
    <h1>بهترین راه حل سازمانی، رایانش ابری ترکیبی</h1>
  </div>
  <div class="columns large-8 small-12  myintro text-justify" >
    <p>
      یک ابر آمیخته[واژه‌نامه ۳۹] متشکل از چندین ارائه دهندهٔ داخلی و یا خارجی،[۴۴] گزینهٔ مناسبی برای بیشتر مؤسسات تجاری می‌باشد. با ترکیب چند سرویس ابر کاربران این امکان را می‌یابند که انتقال به ابر عمومی را با دوری از مسائلی چون سازگاری با استانداردهای شورای استانداردهای امنیت داده‌های کارتهای پرداخت آسانتر سازند.[۴۵]یک ابر آمیخته[واژه‌نامه ۳۹] متشکل از چندین ارائه دهندهٔ داخلی و یا خارجی،[۴۴] گزینهٔ مناسبی برای بیشتر مؤسسات تجاری می‌باشد. با ترکیب چند سرویس ابر کاربران این امکان را می‌یابند که انتقال به ابر عمومی را با دوری از مسائلی چون سازگاری با استانداردهای شورای استانداردهای امنیت داده‌های کارتهای پرداخت آسانتر سازند.[۴۵]
    </p>
  </div>
  <div class="myintroimg left text-center large-4 small-12 columns">
    <img src="/assets/powered-by-openstack.png">
  </div>

</div>

<div class="row myseprator4 text-center">
  <div class="columns large-12 small-12  text-center myintro text-justify">
    <h4>فواید رایانش ترکیبی</h4>
  </div>
  <div class="columns large-7 small-12  myintro text-justify">
    <ul class="mylistul no-bullet">
      <li class="tick">سرورهای داخل سازمان تغییری نمی کنند!سرورهای داخل سازمان تغییری نمی کنند!</li>
      <li class="tick">اطلاعات شما می تواند بین سرورهای خودتان و ما مشترک باشدسرورهای داخل سازمان تغییری نمی کنند!</li>
      <li class="tick">ترکیب سرورهای داخلی با سرور ابر خارجی</li>
      <li class="tick">نگران هزینه هایی که تا به حال برای سرورهای خود کردید نباشید</li>

    </ul>
  </div>
  <div class="columns large-5 small-12  myintro  text-center">
    <h4 class="byekan">سرورهای سازمان پاسخگوی نیازتان نیست؟</h4><br>
    <a class="button radius large">درخواست خدمات ترکیبی</a>
  </div>
</div>
<div class="mysection row">
  <div class="myintro right text-center large-6 small-12 columns">
    <h2>اطلاعات بسیار محرمانه دارید؟</h2>
    <p class="text-justify">در حال حاضر OpenStack قدرتمندترین پلتفورم رایانش ابری در دنیا است و هر روزه با سرعت بیشتری رشد می کند. این پلتفورم رایانش ابری توسط بزرگترین سازمان های ارائه دهنده خدمات محاسبات و رایانش در دنیا پشتیبانی می شود و توسط قویترین برنامه نویسان در سرتاسر جهان در حال توسعه و پیشرفت است. از جمله بزرگترین ارائه دهندگان سرویس های رایانش ابری که خدمات خود را بر پایه OpenStack ساخته اند، می توان RackSpace و RedHat را نام برد. از آن جا که این پلتفورم بی شک پرقدرت ترین و بهینه ترین در مقابل دیگران است و تکنولوژی های دیگر را زیردپای خود لگدمال کرده، تصمیم برآن گرفتیم تا با استفاده از این تکنولوژی خدمات رایانش ابری را در کشور عزیزمان برای اولین بار ارائه دهیم.</p>
  </div>
  <div class="myintroimg left text-center large-6 small-12 columns">
    <img src="/assets/powered-by-openstack.png">
  </div>
</div>
<div class="mysection row">
  <div class="myintro left text-center large-6 small-12 columns">
    <h2>اطلاعات بسیار محرمانه دارید؟</h2>
    <p class="text-justify">در حال حاضر OpenStack قدرتمندترین پلتفورم رایانش ابری در دنیا است و هر روزه با سرعت بیشتری رشد می کند. این پلتفورم رایانش ابری توسط بزرگترین سازمان های ارائه دهنده خدمات محاسبات و رایانش در دنیا پشتیبانی می شود و توسط قویترین برنامه نویسان در سرتاسر جهان در حال توسعه و پیشرفت است. از جمله بزرگترین ارائه دهندگان سرویس های رایانش ابری که خدمات خود را بر پایه OpenStack ساخته اند، می توان RackSpace و RedHat را نام برد. از آن جا که این پلتفورم بی شک پرقدرت ترین و بهینه ترین در مقابل دیگران است و تکنولوژی های دیگر را زیردپای خود لگدمال کرده، تصمیم برآن گرفتیم تا با استفاده از این تکنولوژی خدمات رایانش ابری را در کشور عزیزمان برای اولین بار ارائه دهیم.</p>
  </div>
  <div class="myintroimg right text-center large-6 small-12 columns">
    <img src="/assets/powered-by-openstack.png">
  </div>
</div>
<div class="myseprator3 text-center">
  <h3>چرا استک باکس؟</h3>
  <ul class="clearfix small-block-grid-1 medium-block-grid-3 large-block-grid-3 text-center">
    <li class="ctype">
      <img src="/assets/private.png">
      <h3>تخصص  و تجربه</h3>
      <p>پیاده سازی زیرساخت رایانش ابری به صورت خصوصی و کاملا امن در درون سازمان خود و یا مراکز داده ما</p>
    </li>
    <li class="ctype">
      <img src="/assets/hybrid.png">
      <h3>OpenStack</h3>
      <p>برای بهبود سرورها و مراکز داده یا زیرساخت رایانش ابری خود از ترکیب آن با خدمات ما استفاده کنید</p>
    </li>
    <li class="ctype">
      <img src="/assets/public.png">
      <h3>امنیت</h3>
      <p>با استفاده از سرویس های رایانش ابری مورانو؛ خدمات، پایگاه داده و پردازش محاسبات خود را بهبود بخشید</p>
    </li>
  </ul>

</div>
<div class="mysection row">
  <div class="myintro right text-center large-9 small-12 columns">
    <h3>نگران فرآیند پیاده سازی نباشید، سرعت عمل و دقت نشان ماست!</h3>
    <p class="text-justify">در حال حاضر OpenStack قدرتمندترین پلتفورم رایانش ابری در دنیا است و هر روزه با سرعت بیشتری رشد می کند. این پلتفورم رایانش ابری توسط بزرگترین سازمان های ارائه دهنده خدمات محاسبات و رایانش در دنیا پشتیبانی می شود و توسط قویترین برنامه نویسان در سرتاسر جهان در حال توسعه و پیشرفت است. از جمله بزرگترین ارائه دهندگان سرویس های رایانش ابری که خدمات خود را بر پایه OpenStack ساخته اند، می توان RackSpace و RedHat را نام برد. از آن جا که این پلتفورم بی شک پرقدرت ترین و بهینه ترین در مقابل دیگران است و تکنولوژی های دیگر را زیردپای خود لگدمال کرده، تصمیم برآن گرفتیم تا با استفاده از این تکنولوژی خدمات رایانش ابری را در کشور عزیزمان برای اولین بار ارائه دهیم.</p>
  </div>
  <div class="myintroimg left text-center large-3 small-12 columns">
    <img src="/assets/powered-by-openstack.png">
  </div>
  <div class="myintro right text-center large-12 small-12 columns">
    <h4>مشاوره می خواهید؟ از همین حالا شروع کنید!</h4>

    <form>
      <div class="row">
        <div class="large-12 columns myreg">
          <a class="button round large">درخواست سرویس</a>
        </div>
      </div>
    </form>

  </div>
</div>
<div class="footer text-center">
  <div class="large-4 small-12 columns">
    <h4>
      استک باکس
    </h4>
    <p>
      استک باکس شامل تمامی خدمات رایانش ابری می باشد
    </p>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>محصولات</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">خدمات ابر ترکیبی</a></li>
      <li><a href="/home/privatecloud"> خدمات ابر خصوصی</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>ارتباط با ما</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">تماس بگیرید</a></li>
      <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>ارتباط با ما</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">تماس بگیرید</a></li>
      <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns"></div>
  <br class="clear" />
  <div class="full copyright text-center">
    <div class="up text-center">
      <ul class="inline-list text-center fit center">
        <li><a href="">قوانین و مقررات</a></li>
        <li>|</li>
        <li><a href="">حریم خصوصی</a></li>
        <li>|</li>
        <li><a href="">پشتیبانی</a></li>
        <li>|</li>
        <li><a href="">درباره ما</a></li>
        <li>|</li>
        <li><a href="">عضویت</a></li>
      </ul>
    </div>
    <div class="down">تمامی حقوق این وب سایت متعلق به استک باکس است
    </div>
    <br class="clear" />
  </div>
</div>