  <div class="header" id="header">
  <div class="myimg">
  <img src="/assets/cloud-computing2.png">
  </div>
  <div class="mytext">
      <div class="right sfull align myh1"><h2></h2></div>
      <div class="right sfull myh2"><h2>استک باکس</h2><h2>StackBox</h2></div>
      <div class="left full myh3"><h1><span class="sp1">رایانش </span><span class="sp2">ابری </span></h1></div>
      <div class="left sfull myh4"><h2>کارایی مهمترین عامل موفقیت است</h2></div>
  </div>
</div>
<div class="mainhicon">
  <div class="half">
      <div class="headicon"><img src="/assets/data.png"></div>
      <div class="headicon"><img src="/assets/cloud.png"></div>
      <div class="headicon"><img src="/assets/virtual.png"></div>
      <div class="headicon"><img src="/assets/planet.png"></div>
  </div>
</div>

<div class="naviation sticky">
  <nav class="top-bar" data-topbar data-options="is_hover: true">

    <section class="top-bar-section">
      <ul class="title-area">
        <li class="name">
          <h1><a>استک باکس</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a><span>منو</span></a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">

        <li class="active"><a href="#">دموی خدمات رایانش ابری</a></li>
        <li class="has-dropdown"><a href="#">انواع خدمات ابر</a>
          <ul class="dropdown">
            <li><a href="/home/privatecloud" target="_blank">ابر خصوصی</a></li>
            <li><a href="/home/hybridcloud"  target="_blank">ابر ترکیبی</a></li>
            <li><a href="#"  target="_blank">ابر عمومی</a></li>
          </ul>
        </li>

        <li><a href="#">درخواست سرویس</a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-form"><a class="button round" href="/home/signup" target="_blank">عضویت</a></li>
        <li class="divider"></li>
        <li><a href="/">خانه</a></li>
        <li class="divider"></li>
        <li><a href="#">پشتیبانی</a></li>
        <li class="divider"></li>
        <li><a href="#">درباره ما</a></li>
      </ul>
    </section></nav>
</div>
<div class="firstdiv">
<div class="subhead text-center">
    <div class="myh5"><h2>کارایی همه چیز است</h2></div>
    <div class="myh2"><h2>متخصصان ما تکنولوژی برتر دنیا در رایانش ابری را به ایران آوردند</h2> </div>
    <div class="myh5"><span class="radius secondary success label">استک باکس، اولین ارائه دهنده خدمات رایانش ابری با تکنولوژی روز دنیا در ایران</span></div>
</div>

<ul class="clearfix small-block-grid-1 medium-block-grid-1 large-block-grid-3 text-center">
  <li class="ctype">
    <img src="/assets/private.png">
    <h3>سرویس خصوصی</h3>
    <p>پیاده سازی زیرساخت رایانش ابری به صورت خصوصی و کاملا امن در درون سازمان خود و یا مراکز داده ما</p>
    <a class="button radius small" href="/home/privatecloud" target="_blank">ادامه</a>
  </li>
  <li class="ctype">
    <img src="/assets/hybrid.png">
    <h3>سرویس ترکیبی</h3>
    <p>برای بهبود سرورها و مراکز داده یا زیرساخت رایانش ابری خود از ترکیب آن با خدمات ما استفاده کنید</p>
    <a class="button radius small" href="/home/hybridcloud" target="_blank">ادامه</a>
  </li>
  <li class="ctype">
    <img src="/assets/public.png">
    <h3>سرویس عمومی</h3>
    <p>با استفاده از سرویس های رایانش ابری استک باکس؛ خدمات، پایگاه داده و پردازش محاسبات خود را بهبود بخشید</p>
    <a class="button radius small">ادامه</a>
  </li>
</ul>
</div>
<div class="myseprator backwhite">
  <div class="text-center spectext center">
      <h2>رایانش ابری خودتان را آغاز کنید!</h2>
      <p>با استک باکس به راحتی می توانید از امکانات رایانش ابری برخوردار شوید و با تکنولوژی روز دنیا کسب و کار خود را بهبود سازید، برای شروع فقط کافی است ثبت نام کنید و دموی خدمات رایانش ابری ما را ببینید!</p>
       <a href="/home/signup" class="button" target="_blank">ثبت نام کنید!</a>
  </div>
</div>
<div>
<section class="distance mysection text-center">
  <div class="myintro right text-center large-6 small-12 columns">
    <h2>قدرت  OpenStack</h2>
    <p class="text-justify">در حال حاضر OpenStack قدرتمندترین پلتفورم رایانش ابری در دنیا است و هر روزه با سرعت بیشتری رشد می کند. این پلتفورم رایانش ابری توسط بزرگترین سازمان های ارائه دهنده خدمات محاسبات و رایانش در دنیا پشتیبانی می شود و توسط قویترین برنامه نویسان در سرتاسر جهان در حال توسعه و پیشرفت است. از جمله بزرگترین ارائه دهندگان سرویس های رایانش ابری که خدمات خود را بر پایه OpenStack ساخته اند، می توان RackSpace و RedHat را نام برد. از آن جا که این پلتفورم بی شک پرقدرت ترین و بهینه ترین در مقابل دیگران است و تکنولوژی های دیگر را زیردپای خود لگدمال کرده، تصمیم برآن گرفتیم تا با استفاده از این تکنولوژی خدمات رایانش ابری را در کشور عزیزمان برای اولین بار ارائه دهیم.</p>
  </div>
  <div class="myintroimg left text-center large-6 small-12 columns">
    <div class="left">
    <img src="/assets/icon15.png">
    </div>
  </div>
  <br class="clear">
</section>
<section class="mysection distance text-center">
  <div class="myintro left text-center large-6 small-12 columns">
    <h2>دانش و توانایی</h2>
    <p class="text-justify">دانش ارائه خدمات رایانش ابری بر پایه OpenStack یکی از ارزشمندترین موضوعات مطرح در دنیاست. استفاده، توسعه و پیاده سازی این تکنولوژی به گونه ای که آن طور که باید عمل کند، دانش و توانایی فراوانی می طلبد. ما با استفاده از متخخصان خبره و تحصیل کرده ایرانی در بهترین دانشگاه های خارج و داخل کشور و تجربه سال ها فعالیت در زمینه محاسبات ابری، توانستیم این تکنولوژی را به ایران بیاوریم و برای برای اولین بار خدمات رایانش ابری را در ایران ارائه دهیم که همزمان با تکنولوژی ها و بزرگترین کمپانی های دنیاست.</p>
  </div>
  <div class="myintroimg right text-center large-6 small-12 columns">
    <div class="right">
    <img src="/assets/icon15.png">
    </div>
  </div>
</section>
  <br class="clear" />
</div>
<div class="myseprator2 text-center">
    <h2>سرویس رایانش ابری خودت را انتخاب کردی؟</h2>
    <h3>ما در حال راه اندازی مرکز داده بزرگی برای ایران هستیم، به زودی می آییم، فقط کافیست انتخاب کنید...</h3>
    <h4 class="start">بیایید شروع کنیم!</h4>
  <div>
    <a class="button radius startbutton">استفاده از دمو</a>
  </div>
  <h4>با وارد کردن ایمیل خود در قسمت زیر می توانید برای دریافت سرویس اقدام کنید، ما با شما در ارتباط خواهیم بود...</h4>
  <form>
    <div class="row">
      <div class="large-8 columns myinput">
        <input type="text" placeholder="ایمیل خود را وارد کنید">
      </div>
      <div class="large-4 columns myreg">
        <a class="button radius">درخواست سرویس</a>
      </div>
    </div>
  </form>
  <p id="back-top" >
    <a href="#top"><span></span></a>
  </p>
</div>
<div>
  <section class="mysection text-center">

      <div class="myintro right text-center large-6 small-12 columns">
        <h2>قدرت  OpenStack</h2>
        <p class="text-justify">در حال حاضر OpenStack قدرتمندترین پلتفورم رایانش ابری در دنیا است و هر روزه با سرعت بیشتری رشد می کند. این پلتفورم رایانش ابری توسط بزرگترین سازمان های ارائه دهنده خدمات محاسبات و رایانش در دنیا پشتیبانی می شود و توسط قویترین برنامه نویسان در سرتاسر جهان در حال توسعه و پیشرفت است. از جمله بزرگترین ارائه دهندگان سرویس های رایانش ابری که خدمات خود را بر پایه OpenStack ساخته اند، می توان RackSpace و RedHat را نام برد. از آن جا که این پلتفورم بی شک پرقدرت ترین و بهینه ترین در مقابل دیگران است و تکنولوژی های دیگر را زیردپای خود لگدمال کرده، تصمیم برآن گرفتیم تا با استفاده از این تکنولوژی خدمات رایانش ابری را در کشور عزیزمان برای اولین بار ارائه دهیم.</p>
      </div>
      <div class="myintroimg left text-center large-6 small-12 columns">
        <img src="/assets/powered-by-openstack.png">
      </div>
  </section>
  <br class="clear" />
</div>
<div class="footer text-center">
  <div class="large-4 small-12 columns">
    <h4>
      استک باکس
    </h4>
    <p>
      استک باکس شامل تمامی خدمات رایانش ابری می باشد
    </p>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>محصولات</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">خدمات ابر ترکیبی</a></li>
      <li><a href="/home/privatecloud"> خدمات ابر خصوصی</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>ارتباط با ما</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">تماس بگیرید</a></li>
      <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns text-center">
    <h4>ارتباط با ما</h4>
    <ul class="text-right no-bullet fit center">
      <li><a href="/home/publiccloud">تماس بگیرید</a></li>
      <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
    </ul>
  </div>
  <div class="large-2 small-12 columns">
    <img class="footicon" src="/assets/icon15.png">
  </div>
  <br class="clear" />
 <div class="full copyright text-center">
   <div class="up text-center">
     <ul class="inline-list text-center fit center">
       <li><a href="">قوانین و مقررات</a></li>
       <li>|</li>
       <li><a href="">حریم خصوصی</a></li>
       <li>|</li>
       <li><a href="">پشتیبانی</a></li>
       <li>|</li>
       <li><a href="">درباره ما</a></li>
       <li>|</li>
       <li><a href="">عضویت</a></li>
     </ul>
   </div>
   <div class="down">تمامی حقوق این وب سایت متعلق به استک باکس است
 </div>
   <br class="clear" />
 </div>
</div>