<div class="backbone ">
<div class="myborder1 signup">
  <div class="header2 text-center">
    <div>
      <h1>بزرگترین ها اینجا هستند...</h1>
      <h3>در استک باکس ثبت نام کنید و از خدمات رایانش ابری استفاده کنید</h3>
    </div>
  </div>
  <div class="signuparea">
    <div class="row">
      <div class="right half">
      <form class="formsignup data-abide">
        <div class="columns large-12 myform">
          <div class="text-center">
            <h3>به سرعت وارد سیستم ابری خود شوید!</h3>
          </div>
          <label>ایمیل
            <input type="email" required placeholder="ایمیل خود را وارد کنید" oninvalid="this.setCustomValidity('لطفا ایمیل خود را وارد کنید')" oninput="setCustomValidity('')">
          </label>
          <!--<small class="error">An email address is required.</small>-->
          <label>رمز عبور
            <input type="password" required placeholder="رمز عبور مورد نظر را وارد کنید" oninvalid="this.setCustomValidity('لطفا رمز عبور خود را وارد کنید')" oninput="setCustomValidity('')">
          </label>
          <label>نام و نام خانوادگی
            <input type="text" required placeholder="نام و نام خانوادگی خود را وارد کنید" oninvalid="this.setCustomValidity('لطفا نام و نام خانوادگی خود را وارد کنید')" oninput="setCustomValidity('')">
          </label>
          <label>سازمان
            <input type="text" required placeholder="سازمان خود را وارد کنید" oninvalid="this.setCustomValidity('لطفا سازمان خود را وارد کنید')" oninput="setCustomValidity('')">
          </label>
          <input type="checkbox" required oninvalid="this.setCustomValidity('اگر می خواهید ادامه دهید انتخاب کنید')" oninput="setCustomValidity('')" name="policy"><label>با <a>قوانین و مقررات</a> استک باکس موافقم </label>
          <div class="half right ctype">
          <!--<a class="button radius full no-margin">ثبت نام</a>-->
            <button class="button radius" type="submit">ثبت نام</button>
            <div class="text-center">
              <a href="/" target="_blank" class="homelink">استک باکس</a>
            </div>
          </div>

        </div>
      </form>
      </div>
      <div class="myimage half left">
        <div class=""><img src="/assets/cloud2.png"></div>
        <div class="signuplist">
          <ul class="mylistul no-bullet">
            <li class="tick">بهترین خدمات رایانش ابری در ایران</li>
            <li class="tick">سرعت و کارایی بالای سرورهای ابری</li>
            <li class="tick">سرورهای شما همیشه در دسترس است</li>
            <li class="tick">هر زمان بخواهید به راحتی منابع بگیرید</li>

          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="footer text-center">
    <div class="large-4 small-12 columns">
      <h4>
        استک باکس
      </h4>
      <p>
        استک باکس شامل تمامی خدمات رایانش ابری می باشد
      </p>
    </div>
    <div class="large-2 small-12 columns text-center">
      <h4>محصولات</h4>
      <ul class="text-right no-bullet fit center">
        <li><a href="/home/publiccloud">خدمات ابر ترکیبی</a></li>
        <li><a href="/home/privatecloud"> خدمات ابر خصوصی</a></li>
      </ul>
    </div>
    <div class="large-2 small-12 columns text-center">
      <h4>ارتباط با ما</h4>
      <ul class="text-right no-bullet fit center">
        <li><a href="/home/publiccloud">تماس بگیرید</a></li>
        <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
      </ul>
    </div>
    <div class="large-2 small-12 columns text-center">
      <h4>ارتباط با ما</h4>
      <ul class="text-right no-bullet fit center">
        <li><a href="/home/publiccloud">تماس بگیرید</a></li>
        <li><a href="/home/privatecloud">ایمیل بزنید</a></li>
      </ul>
    </div>
    <div class="large-2 small-12 columns"></div>
    <br class="clear" />
    <div class="full copyright text-center">
      <div class="up text-center">
        <ul class="inline-list text-center fit center">
          <li><a href="">قوانین و مقررات</a></li>
          <li>|</li>
          <li><a href="">حریم خصوصی</a></li>
          <li>|</li>
          <li><a href="">پشتیبانی</a></li>
          <li>|</li>
          <li><a href="">درباره ما</a></li>
          <li>|</li>
          <li><a href="">عضویت</a></li>
        </ul>
      </div>
      <div class="down">تمامی حقوق این وب سایت متعلق به استک باکس است
      </div>
      <br class="clear" />
    </div>
  </div>
</div>
</div>